{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
    <h3 class="text-center mb-4"> Ask Help</h3>

<div>

  <div class="show_border">
    <p class="text-center text-success p-4">For Any Other Query fill this form Your query will be solved in within 12 hours</p>
  </div>


 <form class="mt-4" method="POST" >
  {% csrf_token %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
           
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-fn"> Name</label>
                  <input class="form-control" name="name" type="text" id="account-fn"required placeholder="Enter name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-ln">Mobile number</label>
                  <input class="form-control"  name="mobile" type="text" id="account-ln"required placeholder="Enter Mobile" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-email">Email Address</label>
                  <input class="form-control"  name="email" type="email" id="account-email" required placeholder="Enter name" >
                </div>
              </div>
              

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-phone">Your Problem:</label>
                  <textarea class="form-control"  name="problem" type="text"  required> </textarea>
                  
                </div>
              </div>
              
              
           
            <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Send Message</button>
                  
          </form>
</div>

</div>


<style>
  .show_border {border-style: dotted;}
  .solid {border-style: solid;}
</style>

{% endblock %}