{% extends "base.html" %}
{% block start %}

<div class="container">
    <h3 class="text-center mb-4">All your transactions history</h3>
<div class="table-responsive font-size-md">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>Message #</th>
          <th>Date Purchased</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
      {% for h in history %}
        <tr>
          <td class="py-3"><a class="nav-link-style font-weight-medium font-size-sm" href="#order-details" data-toggle="modal">{{h.message}}</a></td>
          <td class="py-3">{{h.created_at |truncatechars:12}}</td>
          <td class="py-3"><span class="badge badge-info m-0">{{h.status}}</span></td>
          <td class="py-3">{{h.amount}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  {% endblock %}