{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <h3 class="text-center mb-4">All your transactions history</h3>
<div class="table-responsive font-size-md">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>Message #</th>
          <!-- <th>Quote</th> -->
          <th>Date </th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
      {% for h in history %}
        <tr>
          <td class=""><a class="nav-link-style font-weight-medium font-size-sm" href="#order-details" data-toggle="modal">{{h.message}}
          
          </a></td>
          <!-- <td>
            <span class="badge badge-info m-0">
           {{h.quote}}

          </span>

        </td> -->
          <td class="py-3">{{h.created_at}}</td>
          <td class="py-3">
            {% if h.status == 'Won' %}
            <span class="badge badge-success m-0">{{h.status}}</span>
            {% elif h.status == 'Lost' %}
            <span class="badge badge-danger m-0">{{h.status}}</span>
            {% elif h.status == 'Deducted' %}
            <span class="badge badge-danger m-0">{{h.status}}</span>
            {% elif h.status == 'Cancelled' %}
            <span class="badge badge-warning m-0">{{h.status}}</span>
            {%  elif h.status == 'Paid' %}
            <span class="badge badge-success m-0">{{h.status}}</span>
            {%  elif h.status == 'Refunded' %}
            <span class="badge badge-success m-0">{{h.status}}</span>
            {%  else %}
            <span class="badge badge-dark m-0">{{h.status}}</span>
            {% endif %}

          
          </td>
          <td class="py-3"><b>₹</b>{{h.amount}}</td>
        </tr>

        {% endfor %}
        
        <tr>
          <td class="">
            <a class="nav-link-style font-weight-medium font-size-sm" href="#order-details" data-toggle="modal">Initial Credit
          
          </a></td>
       
     
          <td class="py-3"> <span class="badge badge-dark m-0">
            Date of Joining
 
           </span></td>
           <td class="py-3">
            <span class="badge badge-info m-0">
              Joining Bonous
    
             </span>
          </td>
          <td class="py-3"><b>₹</b>50</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  {% endblock %}