{% extends "base.html" %}
{% block start %}
<div class="container mt-5 ">
    <h3 class="text-center mb-4"> Want to know how to play this game watch this video? </h3>


    <h3 class="text-center text-success">Video </h3>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MoGSoe9w710" allowfullscreen></iframe>
    </div>

    <!-- <div class="text-center"><div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      </div> -->
<iframe width="420" height="345" src="">
</iframe>

</div>

{% endblock %}