{% extends "base.html" %}
{% block start %}

<div id="app">

  <div class="container mt-5 pt-4 mb-5 pb-5">
    <div class="alert alert-dark alert-with-icon" v-if="alert" role="alert" id="alert">
      <div class="alert-icon-box">
        <i class="alert-icon czi-bell"></i>
      </div>
      <span id="message">[[alert]] </span>
    </div>

    <div class="text-center">
      <div class="input-group">
        <div class="input-group-prepend ">
          <span class="input-group-text bg-accent text-white">
            <i class="czi-dollar"></i>
          </span>
        </div>
        <input type="text" id="coins" class="form-control" placeholder="Enter Coins">
        <div class="input-group-append">
          <button type="button" class="btn btn-danger" v-on:click="create_game()">Set</button>
        </div>
      </div>
    </div>

    <li v-if="Object.keys(user_game).length &&  'id' in user_game"
      class="shadow list-group-item d-flex justify-content-between align-items-center">
      <span>
        [[user_game.game_creater]]
        <i class="czi-play-circle text-muted mr-2"></i>
        <b id="game_here"> You created a game worth [[user_game.coins]]</b>
      </span>

      <div v-if="requesting_user">
        <button class="btn btn-success" id="request_user" v-on:click="accept(requesting_user)">[[requesting_user]]
          requested Accept</button>
        <button class="btn btn-danger" v-on:click="decline(requesting_user)">Decline</button>

      </div>
      <a :href="'/game/delete_game/'+user_game.id" class="btn btn-warning"><i class="czi-pot"></i></a>
    </li>


    <ul class="list-group mt-5 mb-5 pb-5" id="live_games">
      <li v-for="game in games" :key="game.id"
        class="list-group-item d-flex justify-content-between align-items-center"><span><i
            class="czi-play-circle text-muted mr-2"></i>
          [[game.game_creater]] Create a game worth [[game.coins]]
        </span>
        <button class="btn btn-outline-primary" v-on:click="requestGame(game.game_creater)">Play</button>
      </li>
    </ul>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
  integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      message: 'Hello Vue!',
      games: [],
      username: '{{request.user.username}}',
      user_game: {},
      requesting_user: null,
      alert: null
    },
    methods: {
      create_game() {
        var coins = document.getElementById('coins')
        var message = document.getElementById('message')
        var alert = document.getElementById('alert')
        var url = '/game/api/create_game'
        $('.toast').toast('show')
        var payload = {
          'coins': coins.value
        }

        if (coins.value.length) {
          axios.post(url, {
              'coins': coins.value
            })
            .then(res => {
              if (res.data.status == false) {
                this.alert = res.data.message
                setTimeout(() => {
                  this.alert = null
                }, 2000)

              } else {
                this.alert = res.data.message
                setTimeout(() => {
                  this.alert = null

                }, 2000)
              }
            })
        }
      },

      requestGame(user) {
        let socket = new WebSocket('ws://localhost:8000/ws/tableData/' + user);
        var _this = this;
        socket.onopen = function (e) {
          console.log(e)
          socket.send(JSON.stringify({
            'type': 'request_game',
            'requested_user': user,
            'requesting_user': _this.username
          }))
        }
      },
      accept(user) {
        let socket = new WebSocket('ws://localhost:8000/ws/tableData/' + this.username);
        var _this = this;
        socket.onopen = function (e) {
          socket.send(JSON.stringify({
            'type': 'accept',
            'requested_user': user,
            'requesting_user': _this.username
          }))
          window.location.href = '/game/room/' + _this.user_game.room_id
        }
      },
      decline(user) {
        let socket = new WebSocket('ws://localhost:8000/ws/tableData/' + this.username);
        var _this = this;
        socket.onopen = function (e) {
          socket.send(JSON.stringify({
            'type': 'declined',
            'requested_user': user,
            'requesting_user': _this.username
          }))

          _this.requesting_user = null
        }
      }
    },
    mounted() {
      var _this = this;
      
      let socket = new WebSocket('ws://localhost:8000/ws/tableData/' + _this.username);
      let allGames = new WebSocket('ws://localhost:8000/ws/allgames/?user=1')



      socket.onopen = function (e) {
        var id = '{{request.user.id}}'
        socket.send(JSON.stringify({
          'id': id
        }))

      };
      socket.onmessage = function (e) {
        var data = JSON.parse(e.data)
        console.log(data)
        if (data.payload.type == 'request') {
          _this.requesting_user = data.payload.requesting_user
        } else if (data.payload.type == 'user_game') {
          console.log(data.payload)
          _this.requesting_user = data.payload.requesting_user
        } else if (data.payload.type == 'request_declined') {
          _this.alert = data.payload.message
          setTimeout(() => {
            _this.alert = null
          }, 3000)
        } else if (data.payload.type == 'request_accepted') {
          _this.alert = 'Your request has been Accepted'
          setTimeout(() => {
            _this.alert = null
          }, 3000)

          window.location.href = '/game/room/' + data.payload.room_id

        } else if (data.payload.type == 'game_created') {
          _this.user_game = data.payload
        }

      };
      socket.onclose = function (e) {
        //  console.log('Connection closed');
      };

      allGames.onopen = function (e) {
        // console.log('Allgames connected')
      }
      allGames.onmessage = function (e) {
        var games = JSON.parse(e.data).payload
        _this.games = games;
        //  console.log(_this.games)
      }

      allGames.onclose = function (e) {
        console.log('Allgames closed')
      }


    }
  });
</script>

{% comment %} <script>
  let socket = new WebSocket('ws://localhost:8000/ws/tableData/');
  socket.onopen = function (e) {
    console.log('Connection established');
  };

  socket.onmessage = function (e) {
    var data = JSON.parse(e.data)
    console.log(data)
    addToList(data);
  };
  socket.onclose = function (e) {
    console.log('Connection closed');
  };

  function addToList(data) {
    var username = '{{request.user.username}}';
    if (username != data.game_creater) {
      var live_games = document.getElementById('live_games')
      var node = document.createElement('LI')
      var html = ` <li class="list-group-item d-flex justify-content-between align-items-center"><span><i class="czi-play-circle text-muted mr-2"></i>
        Create a game worth ${data.coins}
        </span>
        <button class="btn btn-outline-primary" onclick="play(${data.id})">Play</button>
        </li>`
      live_games.insertAdjacentHTML('beforeend', html)
    }
  }



  function setUserGame(coins = null, room_id = null) {
    var user_game = document.getElementById('user_game')
    var game_here = document.getElementById('game_here')


    if (coins) {
      user_game.style.visibility = 'visible'
      game_here.innerHTML = '{{request.user.username}}' + `  created a game ${coins}`
    }

  }

  function play(id) {
    socket.send(JSON.stringify({
      'id': id,
      'type': 'play_request'
    }))

  }

  function create_game() {
    var coins = document.getElementById('coins')
    var message = document.getElementById('message')
    var alert = document.getElementById('alert')

    var url = '/game/api/create_game'
    $('.toast').toast('show')

    var payload = {
      'user_id': '{{request.user.id}}',
      'coins': coins.value
    }

    socket.send(JSON.stringify(payload));

    if (coins.value.length) {
      axios.post(url, {
          'coins': coins.value
        })
        .then(res => {
          if (res.data.status == false) {
            alert.style.display = 'block'
            message.innerHTML = res.data.message

            setTimeout(() => {
              alert.style.display = 'none'
            }, 2000)

          } else {
            message.innerHTML = res.data.message
            alert.style.display = 'block'
            message.innerHTML = res.data.message

            setTimeout(() => {
              alert.style.display = 'none'
            }, 2000)
            console.log(res.data)
            setUserGame(res.data.payload.coins, res.data.payload.room_id)
          }

        })

    }
  }
</script> {% endcomment %}

{% endblock %}