{% extends "base.html" %}
{% block start %}

<div class="container mt-5 pt-5 mb-5 pb-5">
    <h3 class="text-center mb-5 ">Terms and conditions</h3>
<div class="tab-content">
<dl>
  <dt>USERS' APPROVAL</dt>
 <dd> Customer must read all terms and conditions and approve them.Following criteria a customer must satisfy:</dd>
  <dd>1.customer must be of legal age(18 or more) and should be mentally sound for making binding contract with us.</dd>
  <dd>2. we request customers to stop immediately using this platform, if he or she feels unsafe or fails to understand our terms and conditions or it collides with their interest in any form or manner. </dd>
  <dd>3. we don't allow players from the resident of following states of Indian union- Assam, Odisha, Telegana and Gujarat. </dd>
  
  <dt>PROVISION OF THE PLATFORM </dt>
  <dd> 1.This platform demonstrates skill as well strategy more than 'element of chance'. Section 12 of Public Gambling Act , 1867 clearly states game of skill are exempted from jurisdiction of this very act. </dd>
  <dd>2. The game rules are clearly defined and we encourage our customer to read and understand before playing game. </dd>
  <dd>3. Being concurrent subject, states are permitted by the Indian constitution to enact laws, regulating betting and gambling in their respective jurisdictions in furtherance of these powers, various States have enacted anti-gambling legislations. Such legislations are largely in concert with Public Gambling Act of 1867 (and include the exception of game of skill"). where a state legislation on gambling exist it prevails over the public gambling act of 1867. In this regard, the Assam Game And Betting Act, 1970 and Orissa(Prevention of) Gambling Act, 1955 and Telangana State Gaming Act (Amendment) Ordinance and the High Court's judgement in Gujarat 2017, prohibits game with money stakes and also do not create an exception for 'game of skill'. Therefore, currently residence of Assam Odisha Telangana and Gujarat are not permitted to play on our site.</dd>
  <dd>4. Players' skill and their decision has clear impact on play as well as result of game. </dd>
 <dd>5. Players can improve their decision making and overall skill with time and practice, we again want to state that outcome of the game directly depends of players' decision and skill. </dd>
  <dt>GAME'S RULES AND REGULATION</dt>
  <dd>1. Player who sets a challenge will share a room id/room code with his/her opponent.</dd>
  <dd>2. On winning both players have to update there results in following manner: </dd>
    <p> (a) if you have won, select ‘I Won’ option and upload winning screenshot of the game. </p>
    <p> (b) if you have lost, select ‘I Lost’ option. </p>
    <p> (c) if match is not started and both parties doesn't want to play, select ‘Cancel’ option. </p>
  <dd> 3. Posting a wrong result after game, will charge you a penality of ₹50. </dd>
  <dd> 4. User must have to record every game, and if any player is hacking or cheating a game, contact support. </dd>
  <dd> 5. If game is not started, if you haven't played a single move yourself, please show the recording of game to support. Game will be cancelled only if you have recording. </dd>
  <dd> 6. If you don't have any proof against player cheating and error in game, you will be considered as lost. </dd>

  <dt> REGULATIONS REGARDING DEPOSIT AND WITHDRAWAL</dt>
  <dd>1. Player can deposit there balance in Load Balance section.</dd>
  <dd>2. Player can take withdrawal by setting a withdrawal request on your app. </dd>
    
  <dd> 3. Deposit and withdrawal request completed by support at any time. </dd>
  <dd> 4. Any wrong payment detail given by you, will not be considered in refund. </dd>
  <dd>5. Once withdrawal is done, you don't have any authority to raise any query. </dd>
  <dd>6. If withdrawal request go on pending, user must have to wait for 3days.  </dd>

  <dt> COMMISSIONS CHARGES</dt>
  <dd>1. Challenge below ₹250, flat <b>10%</b> commission will be charged on challenge amount.</dd>
  <dd>2. Challenge between ₹250 to ₹500, flat <b>₹50</b> commission will be charged. </dd>
    
  <dd>3. Challenge above ₹500, flat <b>10%</b> commission will be charged on challenge amount. </dd>
</dl>


  </div>
</div>
{% endblock %}