{% extends "base.html" %}
{% block start %}


<div class="container">
    <form method="post">
    {% csrf_token %}
        <h3 class="text-center">Change your Password</h3>
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dark">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}

        <div class="row">
         
            <div class="col-md-12 form-group">
                <label>Your old Password</label>
                <input type="password" class="form-control" required name="password" placeholder="Your old Password">
            </div>

            <div class="col-md-12 form-group">
                <label>Your new password</label>
                <input type="text" class="form-control" required name="new_password" placeholder="Enter your new password" >
            </div>


            <div class="col-md-12 form-group">
                <label>Confirm password</label>
                <input type="password" class="form-control" required name="confirm_passsword" placeholder="Confirm your new password" >
            </div>


    

        </div>

<button class="btn btn-accent" type="submit">Change Password</button>
    </form>


</div>






{% endblock %}