{% extends "base.html" %}
{% block start %}
<div class="container pt-5">
  <div class="row justify-content-center pt-4">
    <div class="col-lg-6 col-md-10">
      <h2 class="h3 mb-4">Verify OTP</h2>

      <div class="card py-2 mt-4">
        <form class="card-body needs-validation" novalidate="" method="post">
          {% csrf_token %}

          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <div class="form-group">
            <label for="recover-email">Enter OTP number</label>
            <input class="form-control" type="text" name="otp" placeholder="Your  OTP"
              id="recover-email" required="">
            <div class="invalid-feedback">Please provide valid OTP number.</div>
          </div>


          </div>

          <button class="btn btn-accent btn-block mt-2" type="submit">Verify <i class="czi-security-check"></i></button>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}