{% extends "admin/base.html" %}
{% block start %}

      <section class="col-lg-8">
          <!-- Toolbar-->

          <h3 class="mt-3">All Disputed Games</h3>
          
          <!-- Disputes list-->
          <div class="table-responsive font-size-md mt-4">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                <th> #</th>
                  <th>Game amount</th>
                  <th>Game Creator</th>
                  <th> Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for disputed in disputed %}
                <tr>
                 <td class="py-3 align-middle">{{forloop.counter}}</td>
                 <td class="py-3 align-middle">{{disputed.game.coins}}</td>

                  <td class="py-3 align-middle">{{disputed.game.game_creator.username}}</td>
                  <td class="py-3 align-middle">
                    <a class="nav-link-style mr-2" href="{% url 'view_disputes' disputed.id %}" data-toggle="tooltip" title="View details"><i class="btn btn-primary btn-sm">View details</i></td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
          <hr class="pb-4">
         
        </section>



{% endblock %}