{% extends "admin/base.html" %}
{% block start %}

      <section class="col-lg-8">
          <!-- Toolbar-->
          
          <!-- Disputes list-->
          <div class="table-responsive font-size-md">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                <th> Dispute id</th>
                  <th>User Disputes</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <td class="py-3 align-middle">123</td>
                  <td class="py-3 align-middle">User1 vs User2</td>
                  <td class="py-3 align-middle"><a class="nav-link-style mr-2" href="#" data-toggle="tooltip" title="View details"><i class="btn btn-primary btn-sm">View details</i></td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <hr class="pb-4">
         
        </section>



{% endblock %}