{% extends "admin/base.html" %}
{% block start %}

 <section class="col-lg-8 mt-4" style="margin-bottom:50px;">
          
  <h3>Add Penalty for user</h3>
          <!-- Profile edit-->
          <form class="container" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dark">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
           
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-fn">User Whatsapp</label>
                  <input class="form-control" name="whatsapp" type="text" id="account-fn" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-fn">User username</label>
                  <input class="form-control" name="username" type="text" id="account-fn" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-ln">Amount</label>
                  <input class="form-control" type="text" name="amount" id="account-ln">
                </div>
              </div>
             
            </div>
            <div class="row">
           
                <div class="col-md-12 form-group">
                
                  <label for="account-phone">Penalty  Reason</label>
                  <textarea class="form-control" type="text" id="reject reason" name="reason" ></textarea>

                
              </div>
              
            </div>
              <div class="col-mb-12">
                <hr class="mt-2 mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  
                  <a href="">

                  <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Submit</button>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </section>

{% endblock %}