
{% extends "admin/base.html" %}
{% block start %}



   <section class="col-lg-8">
          <!-- Toolbar-->
          <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
            <h6 class="font-size-base text-light mb-0">Update you profile details below:</h6><a class="btn btn-primary btn-sm" href="account-signin.html"><i class="czi-sign-out mr-2"></i>Sign out</a>
          </div>
          <!-- Profile form-->
          <form>
           
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-fn">user id</label>
                  <input class="form-control" type="text" id="account-fn" value="Susan">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-ln">User name</label>
                  <input class="form-control" type="text" id="account-ln" value="Gardner">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-email">Email Address</label>
                  <input class="form-control" type="email" id="account-email" value="s.gardner@example.com" disabled>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-phone">Phone Number</label>
                  <input class="form-control" type="text" id="account-phone" value="+7 (805) 348 95 72" required>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-phone">Total Coins</label>
                  <input class="form-control" type="text" id="account-phone" value="555" required>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="account-confirm-pass">Password</label>
                  <div class="password-toggle">
                    <input class="form-control" type="password" id="account-confirm-pass">
                    <label class="password-toggle-btn">
                      <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Show password</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr class="mt-2 mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <div class="custom-control custom-checkbox d-block">
                  <a href="">
                    <button class="btn btn-primary mt-3 mt-sm-0" type="button">Penalty</button>
                    </a>
                  </div>
                  <a href="">

                  <button class="btn btn-primary mt-3 mt-sm-0" type="button">Update profile</button>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </section>



{% endblock %}