{% extends "base.html" %}
{% block start %}


<div class="container mt-5 pt-5 pb-5 mb-5">
    <div class="show_border mb-4">
    <h3 class="text-center text-danger text-capitalize m-4">{{user_one.username}} vs {{user_two.username}} for ₹ {{game.coins}}</h3>
    </div>

    <div class="solid">
        <p class="text-center text-success p-4 h5">notice: कृपया धयान दे , गेम स्टार्ट होने के बाद 4-5 चांसेस तक हर बार स्क्रीनशॉट लेते रहे  . जरुरत पड़ने पर यह आपके कम आएगा .</p>
    </div>


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% if request.user.id != game.game_creater.id %}
    <div class="m-4">
        <h3 class="text-center">Waiting for room Code</h3>
        <div class="text-center">
        <div class="spinner-grow" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
        <div class="form-group" style="display:none" id="room_code_div">
            <label>Room Code</label>
            <input class="form-control" value="" readonly id="show_room_code">
            <button class="btn btn-info mt-2 btn-sm" onclick="myFunction()"><i class="czi-add-document"></i> Copy Code
            </button>

            <button class="btn btn-accent mt-2 btn-sm" onclick="requestChangeRoomCode()">Request change Room Code
            </button>
        </div>

       

    </div>
    {% else %}

    
    <div class="alert alert-success" id="alert" display="style:none">
        <p id="alert_message"></p>
    </div>


    <div class="form-group mt-4 mb-4">
        <label for="pass-visibility">Enter Room Code</label>
        <div class="password-toggle">
            {% if game.room_code %}
            <input type="text" id="room_code" value="{{game.room_code}}" class="form-control" placeholder="Enter room code">
            {% else %}
            <input type="text" id="room_code" value="" class="form-control" placeholder="Enter room code">
            {% endif %}
        </div>
        <button class="btn btn-accent mt-2 btn-sm" onclick="sendRoomCode()">Send room code</button>
        <button class="btn btn-danger mt-2 btn-sm" onclick="changeRoomCode()">Change Room code</button>

    </div>
    {% endif %}


    <div class="show_border">
        <p class="text-center p-3">₹50 penalty for wrong update., ₹25 penalty if you dont update after loosing .</p>
    </div>



    <div class="solid mt-3">
        <p class="text-center text-warning p-4 h4">For cancelling game, valid reason in necessary otherwise game will not be cancelled</p>
    </div>
   

    <form method="post" class="mt-5" enctype="multipart/form-data">
        <h4 class="text-center">Update Game results</h4>
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" required id="result" name="result" onchange="showOption()">
                <option>Choose</option>
                <option value="WON">Won</option>
                <option value="LOST">Lost</option>
                <option value="CANCEL">Game Canceled</option>
            </select>
        </div>
        <div class="text-center mx-auto align-center ml-5" style="justify-content:center;align-content:center">
            <img id="previewImg" src="" alt="Placeholder" class=" text-center img-fluid img-responsive mb-3" style="height:200px;display: none">
        </div>
        <div class="form-group" id="won" style="display: none;">
            <div class="cz-file-drop-area">
                <div class="cz-file-drop-icon czi-cloud-upload"></div>
                <span class="cz-file-drop-message">Drag and drop here to upload</span>
                <input type="file" onchange="previewFile(this);"  name="upload_file" multiple class="cz-file-drop-input">
                <p>Click to upload</p>
              </div>
        </div>


        <div class="form-group" id="cancel" style="display: none;">
            <label for="cancel">Game cancel reason</label>
            <textarea class="form-control" name="reason_of_cancel" ></textarea>

        </div>




        <button class="btn btn-accent" type="submit">Submit Result <i class="czi-loudspeaker ml-3"></i></button>

    </form>









</div>


<style>
   .show_border {border-style: dotted;}
   .solid {border-style: solid;}
</style>



<script>
      
    //var url ='ws://127.0.0.1:8000'  + window.location.pathname
    var url = 'wss://ludomission.com:8001' + window.location.pathname
    var room_id = '{{room_id}}'
 let socket = new WebSocket('wss://ludomission.com:8001/ws/game/room/' + room_id);
//   let socket = new WebSocket('ws://127.0.0.1:8000/ws/game/room/' + room_id);

    socket.onopen = function (e) {
        console.log('Connection established');
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data)
        console.log(data)
        var spinner = document.getElementById('spinner')
        var show_room_code = document.getElementById('show_room_code')
        var room_code_div = document.getElementById('room_code_div')

        if('request' in data.message){
            if(data.message.user != '{{request.user}}'){
                alert('Player two requested for room code change')
            }
            return;
        }


        if ('room_code' in data.message) {
            spinner.style.display = 'none'
            room_code_div.style.display = 'block'
            show_room_code.value = data.message.room_code
        }
    };
    socket.onclose = function (e) {
        location.reload();
        console.log('Connection closed');
    };

    function sendRoomCode() {
        var room_code = document.getElementById('room_code')
        console.log(room_code)
        if (room_code.value.length) {
            socket.send(JSON.stringify({
                'room_code': room_code.value
            }))
            room_code.disabled = true
        }
    }

    function requestChangeRoomCode(){
        var room_code = document.getElementById('show_room_code')
       
    
        alert('Your request has been sent')
        socket.send(JSON.stringify({
                'room_code': room_code.value,
                'request' : 'change room code',
                'user' : '{{request.user}}'
        }))

        


    }



    function changeRoomCode(){
        var room_code = document.getElementById('room_code')
        room_code.disabled = false
    }

    function showOption(){
        var won = document.getElementById('won')
        var cancel = document.getElementById('cancel')
        var result = document.getElementById('result')

        if(result.value == 'WON'){
            won.style.display = 'block'
            cancel.style.display = 'none'

        }else if(result.value == 'CANCEL'){
            cancel.style.display = 'block'
            won.style.display = 'none'
            previewImg.style.display = 'none'
        }else{
            won.style.display = 'none'
            cancel.style.display = 'none'
            previewImg.style.display = 'none'


        }

    }

    function myFunction() {
    var copyText = document.getElementById("show_room_code");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
}


function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
    
        if(file){
            var reader = new FileReader();
 
            reader.onload = function(){
                $("#previewImg").attr("src", reader.result);
            }
 
            reader.readAsDataURL(file);
        }
        previewImg.style.display = 'block'
    }



</script>




{% endblock %}