<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ludomission | A powerful ludo betting online platform</title>
    </title>
    <!-- SEO Meta Tags-->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/static/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="/static/vendor/tiny-slider/dist/tiny-slider.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/static/css/theme.min.css">

    <style>
        .nav-item,
        .nav-link {
            color: #fff !important
        }
    </style>
</head>
<!-- Body-->

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/"> <b>Ludo Mission</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <hr class="hr-light d-lg-none mt-3 mb-2">

            <ul class="navbar-nav mr-auto">


                {% if request.user.is_authenticated %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'home' request.user.username %}">Play</a>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'buy_coins' %}">Buy Coins</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'sell_coins' %}">Sell Coins</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Refer and Earn</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'history' %}">History</a></li>
                {% endif %}

                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Terms and conditions</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'top_winners' %}">Top winners</a></li>
                {% if request.user.is_authenticated %}

                <li class="nav-item dropdown text-right float-right ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b> Profile</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>

                    </div>
                </li>
                {% endif %}


            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if not request.user.is_authenticated %}
                <a class=" btn btn-info btn-sm" href="{% url 'login' %}">
                    <i class="czi-user mr-1"></i> Login
                </a>
                <a class=" btn btn-success btn-sm ml-3" href="{% url 'register' %}">
                    <i class="czi-user mr-1"></i> Register
                </a>
                {% endif  %}
                {% if request.user.is_authenticated %}
                <a class=" btn btn-info btn-sm ml-4" href="#">
                    <i class="czi-currency-exchange mr-2"></i>Coins {{ request.session.coins }}
                </a>

                <a class=" btn btn-primary btn-sm ml-4" href="{% url 'logout' %}">
                    <i class="czi-user mr-3"></i>Logout
                </a>
                {% endif %}
            </form>
        </div>
    </div>

</nav>

{% block start %}


{% endblock %}

<footer class="bg-dark p-4 footer text-center mt-5 pt-5">
    <p class="text-white">Ludo mission 2021</p>
</footer>






<style>
    footer {
        /* position: absolute; */
        bottom: 0;
        width: 100%;
    }
</style>


<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
        class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i
        class="btn-scroll-top-icon czi-arrow-up"> </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="/static/vendor/jquery/dist/jquery.slim.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="/static/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/static/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Main theme script-->
<script src="/static/js/theme.min.js"></script>
</body>

</html>