{% extends "base.html" %}
{% block start %}


<div class="container mb-5 pb-5 mt-5">
    <h3 class="text-center">Buy coins to battle on Ludomission</h3>
    <div class="card py-2 mt-4">
        <form class="card-body needs-validation" novalidate="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="recover-email">Enter amount</label>
                <input class="form-control" type="number" name="amount" placeholder="Enter amount" id="recover-email"
                    required="">
                <div class="invalid-feedback">Please enter amount.</div>
            </div>

            <button type="submit" class="btn btn-accent btn-sm">Load Coins</button>

        </form>

        {% if checkout %}

        <form id="redirectForm" method="post" action="{{cash_free_url}}">
            <input type="hidden" name="appId" value="{{app_id}}"/>
            <input type="hidden" name="orderId" value="{{checkout.orderId}}"/>
            <input type="hidden" name="orderAmount" value="{{checkout.orderAmount}}"/>
            <input type="hidden" name="orderCurrency" value="INR"/>
            <input type="hidden" name="customerName" value="Ludo betting"/>
            <input type="hidden" name="customerEmail" value="abhijeetg40@gmail.com"/>
            <input type="hidden" name="customerPhone" value="{{checkout.customerPhone}}"/>
            <input type="hidden" name="returnUrl" value="{{return_url}}">
            <input type="hidden" name="signature" value="{{checkout.signature}}"/>
            <div class="text-center">
                
                    <button type="submit" class="btn btn-danger">Pay {{checkout.orderAmount}} <i class="czi-wallet"></i></button>
                

            </div>

            </form>
        {% endif %}

        

    </div>
</div>




{% endblock %}