{% extends "base.html" %}
{% block start %}


<div class="container mb-5 pb-5 mt-5">
    <h3 class="text-center">Buy coins to battle on Ludomission</h3>
    <div class="show_border">
        <p class="text-center p-3">
            Please pay at this Number only <b>7706838026</b> and enter wallet Transaction ID
            <br>( 1 coins=1 rupee)
            <br>
            Pay via Paytm wallet only
        </p>
    </div>
    <div class="card py-2 mt-4">
        <form class="card-body needs-validation" novalidate="" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="form-group">
                <label for="recover-email">Enter amount</label>
                <input class="form-control" type="number" name="amount" placeholder="Enter amount" id="recover-email"
                    required="">
                <div class="invalid-feedback">Please enter amount.</div>
            </div>

            <div class="form-group">
                <label for="recover-email">Enter Order Id</label>
                <input class="form-control" type="text" name="order_id" placeholder="Enter order id" id="recover-email"
                    required="">
                <div class="invalid-feedback">Please enter order id.</div>
            </div>

            <button type="submit" class="btn btn-accent btn-sm">Load Coins</button>

            <!-- <div class="form-group">
                <label for="recover-email">Enter amount</label>
                <input class="form-control" type="number" name="amount" placeholder="Enter amount" id="recover-email"
                    required="">
                <div class="invalid-feedback">Please enter amount.</div>
            </div>

            <button type="submit" class="btn btn-accent btn-sm">Load Coins</button> -->

        </form>

        {% if checkout %}

        <form id="redirectForm" method="post" action="{{cash_free_url}}">
            <input type="hidden" name="appId" value="{{app_id}}" />
            <input type="hidden" name="orderId" value="{{checkout.orderId}}" />
            <input type="hidden" name="orderAmount" value="{{checkout.orderAmount}}" />
            <input type="hidden" name="orderCurrency" value="INR" />
            <input type="hidden" name="customerName" value="Ludo betting" />
            <input type="hidden" name="customerEmail" value="abhijeetg40@gmail.com" />
            <input type="hidden" name="customerPhone" value="{{checkout.customerPhone}}" />
            <input type="hidden" name="returnUrl" value="{{return_url}}">
            <input type="hidden" name="signature" value="{{checkout.signature}}" />
            <div class="text-center">

                <button type="submit" class="btn btn-danger">Pay {{checkout.orderAmount}} <i
                        class="czi-wallet"></i></button>


            </div>

        </form>

        {% endif %}
        <div class="show_border">
            <p class="text-center p-3">
                If your Transaction ID is not matching Don't worry, please click <a href="{% url 'help' %}">Help</a> to contact admin or whatsapp your complaint at  +917706838026.Your query will be solved in 12 hours</p>

            </p>
        </div>


        {% if pending_requests %}
        <h3 class="text-center h4 mt-4">Your pending request</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment Mode</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">Requested Date</th>
                    <th scope="col">Status</th>

                </tr>
            </thead>
            <tbody>
                {% for pending_request in pending_requests %}
                <tr>
                    <th scope="row"> {{ forloop.counter }}</th>
                    <td>{{pending_request.amount}}</td>
                    <td>PayTm</td>
                    <td>{{pending_request.order_id}}</td>
                    <td>{{pending_request.created_at |date:'d-m-Y'}}</td>
                    <td><span class="badge badge-pill badge-danger badge-shadow">Pending</span></td>

                </tr>
                {% endfor %}

            </tbody>

        </table>

        {% endif %}



    </div>
</div>


<style>
    .show_border {
        border-style: dotted;
    }

    .solid {
        border-style: solid;
    }
</style>



{% endblock %}